<div class="col-12">
  <div *ngFor="let progressInfo of progressInfos">
    <span>{{ progressInfo.fileName }}</span>
    <mat-toolbar class="progress-bar">
      <mat-progress-bar
        color="accent"
        [value]="progressInfo.value"
      ></mat-progress-bar>
      <span class="progress">{{ progressInfo.value }}%</span>
    </mat-toolbar>
  </div>

  <mat-form-field class="col-12 bg-secondary text-white p-1 rounded">
    <div>
      <mat-toolbar>
        <input
          matInput
          [value]="selectedFileName ? selectedFileName : 'Select Images'"
        />

        <button
          mat-flat-button
          color="primary"
          [disabled]="!selectedFile"
          (click)="uploadFiles()"
        >
          Upload
        </button>
      </mat-toolbar>

      <input
        type="file"
        id="fileInput"
        name="fileInput"
        accept="image/*"
        (change)="selectFiles($event)"
        [disabled]="selectedFile"
      />
    </div>
  </mat-form-field>

  <div class="col-12">
    <img [src]="preview" class="preview" style="max-width: 300px" />
  </div>

  <div *ngIf="message" class="message">
    <ul>
      <li>{{ message }}</li>
    </ul>
  </div>
</div>
