<div class="container-fluid">
  <!-- [linear]="true" -->
  <mat-stepper class="stepper" [orientation]="(stepperOrientation | async)!">
    <mat-step
      [stepControl]="vehicleDetailsForm"
      label="Fill out Your Vehicle Details"
    >
      <div class="container w-md-50">
        <form [formGroup]="vehicleDetailsForm" class="d-flex flex-column">
          <mat-form-field>
            <mat-label>Vehicle Brand</mat-label>
            <input
              matInput
              placeholder="Toyota"
              formControlName="brandName"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Manufacture Year</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              required
              formControlName="manufactureYear"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #picker
              startView="multi-year"
              (yearSelected)="setYear($event, picker)"
              panelClass="year-picker"
            ></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Transmission Type</mat-label>
            <input matInput formControlName="transMissionType" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Seat Count</mat-label>
            <input
              matInput
              formControlName="seatCount"
              required
              type="number"
            />
          </mat-form-field>
          <div class="d-flex flex-row align-items-center">
            <mat-label>Air Condition</mat-label>
            <mat-radio-group formControlName="isAirConditioning">
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field class="mt-2">
            <mat-label>Specification</mat-label>
            <input matInput formControlName="specification" />
          </mat-form-field>
          <div>
            <div>
              <button mat-button matStepperNext class="btn btn-primary">
                Next
              </button>
            </div>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step label="Fill out Your Vehicle Documents Details">
      <form>
        <div class="pt-5 col-12">
          <div class="d-flex flex-wrap">
            <div class="col-12 col-md-3 justify-content-center">
              <p class="mb-0 me-4">Vehicle Photo :</p>
            </div>
            <div class="img-upload col-md-9 col-12">
              <app-image-upload></app-image-upload>
            </div>
          </div>
        </div>
        <div class="pt-5 col-12">
          <div class="d-flex flex-wrap">
            <div class="col-12 col-md-3 justify-content-center">
              <p class="mb-0 me-4">Driving license photo [front] :</p>
              <p class="mb-0 me-4" style="color: brown">
                Rename : DLF vehicle number (DLF KW-3322)
              </p>
            </div>

            <div class="img-upload col-md-9 col-12">
              <app-image-upload></app-image-upload>
            </div>
          </div>
        </div>
        <div class="pt-5 col-12">
          <div class="d-flex flex-wrap">
            <div class="col-12 col-md-3 justify-content-center">
              <p class="mb-0 me-4">Driving license photo [Back] :</p>
              <p class="mb-0 me-4" style="color: brown">
                Rename : DLB vehicle number (DLB KW-3322)
              </p>
            </div>

            <div class="img-upload col-md-9 col-12">
              <app-image-upload></app-image-upload>
            </div>
          </div>
        </div>
        <div class="pt-5 col-12">
          <div class="d-flex flex-wrap">
            <div class="col-12 col-md-3 justify-content-center">
              <p class="mb-0 me-4">Vehicle renewing license photo :</p>
              <p class="mb-0 me-4" style="color: brown">
                Rename : RL vehicle number (RL KW-3322)
              </p>
            </div>

            <div class="img-upload col-md-9 col-12">
              <app-image-upload></app-image-upload>
            </div>
          </div>
        </div>

        <div class="pt-5 col-12">
          <div class="d-flex flex-wrap">
            <div class="col-12 col-md-3 justify-content-center">
              <p class="mb-0 me-4">Vehicle insurance photo :</p>
              <p class="mb-0 me-4" style="color: brown">
                Rename : LI vehicle number (LI KW-3322)
              </p>
            </div>

            <div class="img-upload col-md-9 col-12">
              <app-image-upload></app-image-upload>
            </div>
          </div>
        </div>

        <div class="pt-5 col-12">
          <div class="d-flex flex-wrap">
            <div class="col-12 col-md-3 justify-content-center">
              <p class="mb-0 me-4">Vehicle book copy :</p>
              <p class="mb-0 me-4" style="color: brown">
                Rename : RBC vehicle number (RBC KW-3322)
              </p>
            </div>

            <div class="img-upload col-md-9 col-12">
              <app-image-upload></app-image-upload>
            </div>
          </div>
          <div>
            <div>
              <button mat-button matStepperPrevious class="custom-blue me-2">
                Back
              </button>
              <button mat-button matStepperNext class="custom-blue">
                Next
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <div>
          <button
            mat-button
            matStepperPrevious
            class="custom-blue"
            (click)="onSubmit()"
          >
            Back
          </button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
