<div
  class="container d-flex flex-row flex-wrap-reverse display-full align-items-center"
>
  <div class="d-flex flex-wrap flex-column col-md-6">
    <h1 class="mb-3 d-flex justify-content-center">Sign In</h1>
    <form
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit()"
      class="flex-grow-1 w-100"
    >
      <mat-form-field class="w-100">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="John"
          formControlName="username"
          required
        />
        <mat-error
          *ngIf="
            signInForm.controls.username.touched &&
            signInForm.controls.username.invalid
          "
        >
          <span *ngIf="signInForm.controls.username.errors.pattern"
            >This is invalid username,Please Check</span
          >
          <span *ngIf="signInForm.controls.username.hasError('required')"
            >username is required</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="w-100 mt-2">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder=""
          formControlName="password"
          type="password"
        />
        <mat-error *ngIf="signInForm.controls.password.hasError('required')"
          >Password is required</mat-error
        >
        <mat-error *ngIf="signInForm.controls.password.hasError('password')"
          >This is invalid password, Please Check</mat-error
        >
      </mat-form-field>
      <div class="d-flex align-items-center justify-content-start mt-2">
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="signInForm.invalid || signInForm.untouched"
        >
          Submit
        </button>
        <div class="ms-2">
          New Customer?
          <a routerLink="/sign-up" class="text-decoration-none"
            >Create an account</a
          >
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex flex-row col-md-6">
    <img src="../../assets/cloviana-2.jpg" alt="..." class="w-100" />
  </div>
</div>
