.btn {
  background-color: #5ab1bb;
}

.mat-mdc-text-field-wrapper.mdc-text-field--filled:not(
    .mdc-text-field--disabled
  ) {
  background-color: transparent !important;
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}
